# Use postgres/example user/password credentials
version: '3.1'

services:
  db:
    container_name: postgres
    image: postgres
    restart: unless-stopped
    volumes:
      - /data:/var/lib/postgresql/data
    env_file:
      - .env
    ports:
      - 5432:5432